In [ ]:
print("Hello world")

In [ ]:
#Here var is reference and 1000 is object of int class
#int/float/str/bool/complex/None/tuple immutable objects
#list/dict/set mutable objects!
var=1000
print(var,id(var),type(var))
var=2000
print(var,id(var),type(var))
var+=1
print(var,id(var),type(var))
#del var
print(var,id(var),type(var))
var=3.142
print(var,id(var),type(var))
newvar=var #shallow copy 
print(var,id(var),type(var))
print(newvar,id(newvar),type(newvar))
var='V'
print(var,id(var),type(var))
var=True
print(var,id(var),type(var))
var=None
print(var,id(var),type(var))
print(type(id),type(type))

In [ ]:
player="sachin"
runs=100
average=80.56

# cstyle of formatting
print("Player is %10s\nRuns is %10d\nAverage is %12f\n"%(player,runs,average))

# str.format() till python 3.5
print("Player is {0} {0}\nRuns is {1}\nAverage is {2}\n".format(player,runs,average))

# f-strings after python 3.6
print(f"Player is {player}\nRuns is {runs}\nAverage is {average}\n")

In [ ]:
var=10
print(type(var))
var=10, #pythonic style comma creates a tuple
print(type(var))
var=10,20 #pythonic style comma creates a tuple
print(type(var))
var=(10,20) #pythonic style comma creates a tuple
print(type(var))

In [10]:
var1=int(input("Enter first value")) # conversion functions
var2=int(input("Enter second value"))
var2=var2
print(f"{var1} and {var2} addition is {var1+var2}")

Enter first value 3.4

ValueError: invalid literal for int() with base 10: '3.4'

In [18]:
# int() float() str() bool() tuple() list() set() dict() None() complex()
var1=float(input("Enter first value")) # conversion functions
var2=float(input("Enter second value"))
var2=var2
print(f"{var1} and {var2} addition is {var1+var2}")

Enter first value "sachin"

ValueError: could not convert string to float: '"sachin"'

In [16]:
var="10"
print(type(var))
var=int("10")
print(type(var))
var=int("192.168")
print(type(var))

<class 'str'>
<class 'int'>

ValueError: invalid literal for int() with base 10: '192.168'

In [21]:
var1=str(input("Enter first value")) # conversion functions
var2=str(input("Enter second value"))
var2=var2
print(f"{var1} and {var2} addition is {var1+var2}")

Enter first value 4
Enter second value "sachin"

4 and "sachin" addition is 4"sachin"

In [28]:
var1=eval(input("Enter first value")) # conversion functions
var2=eval(input("Enter second value"))
print(f"{var1} and {var2} addition is {var1+str(var2)}")

Enter first value "sachin"
Enter second value 10

sachin and 10 addition is sachin10

In [37]:
# str
print('can you \tprint \'single quotes\' within \nsingle quotes')
print("can you \tprint \"double quotes\" within \ndouble quotes")
print("""using triple quotes 
you can print 'single quotes'
as well as "double quotes"
      """)

can you 	print 'single quotes' within
single quotes
can you 	print "double quotes" within
double quotes
using triple quotes
you can print 'single quotes'
as well as "double quotes"

In [55]:
guideline="How to write beautiful code in python using PEP 8"
print(guideline)
print(guideline[:]) # start:next_to_last:step_count  # 0:next_to_last:1
print(guideline[0])
print(guideline[0:3]) # 3 is not included
print(guideline[::])
print(guideline[0:20:3])
print(guideline[-1])
print(guideline[-11:-2])
print(guideline[-11:-20:-1])
print(guideline[::-1])

How to write beautiful code in python using PEP 8
How to write beautiful code in python using PEP 8
H
How
How to write beautiful code in python using PEP 8
H  i ai
8
using PEP
u nohtyp
8 PEP gnisu nohtyp ni edoc lufituaeb etirw ot woH